.editbox {
  display: block;

  .editbox-edit-field {
    display: inline-block;
    margin-right: 0.5rem;

    .textbox-input {
      margin: 0;
    }
  }

  .editbox-edit-actions {
    display: inline-block;
  }
}
