.modal {
  // position: absolute;
  // background-color: $full-white;

  .modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    height: 100%;
    width: 100%;
    background-color: $dark-black;
  }

  .modal-children {
    position: absolute;
    left: 50%;
    background-color: white;
    z-index: 102;
  }
}
