.select {
  .select-container {
    display: flex;
    flex-direction: row;

    .select-element {
      flex: 1;
      background-color: $full-white;
      padding: 0.5rem;
      margin: 0.5rem 0;
      border: none;
      border-bottom-style: solid;
      border-bottom-width: 0.15rem;
      border-bottom-color: $primary-color-1;
      outline: none;

      .select-item-placeholder {
        color: $light-black;
      }

      .select-item {

      }

      &:disabled {
        background-color: $grey-300;
        color: $grey-500;
        border-bottom-color: $grey-800;
      }
    }
  }

  .select-error {
    font-size: 0.8rem;
    color: $error-color;
  }
}
