.autocomplete {
  width: 100%;
  position: relative;

  .autocomplete-result-box {
    position: absolute;
    width: 100%;
    top: 2rem;
    list-style: none;
    background-color: var(--full-white);
    border: 0.15rem solid var(--primary-color-1);
    border-top: none;
    padding-left: 0rem;

    > li {
      height: 2rem;
      padding: 0.35rem 1rem;

      &:hover {
        color: var(--full-white);
        background-color: var(--primary-color-2);
      }
    }

    &.autocomplete-result-box-hide {
      display: none;
    }
  }
}
