.main-layout {
  display: flex;
  margin-top: 4.5rem;
  justify-content: center;

  & >.main-layout-container {
    background-color: white;
    max-width: 76rem;
    width: 100%;
    padding: 1rem;
    height: 100%;
  }
}

.clean-layout {
  height: 100%;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  & .movie-list-item {
    flex: 0 0 19.3333333%;

    & .movie-item-detail {
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      padding: 0.5rem;

      &:hover{
        background-color: var(--faint-black);
        cursor: pointer;
      }

      & .movie-item-image {
        max-height: 15.375rem;
        flex: 1;
      }

      & .movie-item-title {
        padding-top: 0.7rem;
      }
    }
  }
}


.add-movie {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  > div {
    flex: 0 0 50%;
  }
}


.add-translation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  > div {
    flex: 0 0 100%;
  }
}

.movie-details {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;


  & .background-image {
    position: absolute;
    height: 25rem;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 9%;
  }

  & .background-image-overlay {
    position: absolute;
    height: 25rem;
    left: 0;
    right: 0;
    z-index: 6;
    width: 100%;
    background: linear-gradient(to bottom,rgba(29,29,29,0.65) 100%, rgba(29,29,29,1) 0);
  }


  & > .movie-details-content {
    flex: 0 0 100%;
    display: flex;
    height: 25rem;
    position: relative;

    /*
    background-image: url(/images/S1ZcYh9yR.jpeg);
    */
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 9%;

    & > .movie-details-image-container {
      /*
      background-color: red;
      */
      z-index: 7;
      flex: 0 0 25%;
      align-content: center;

      & img {
        width: 80%;
      }
    }

    & > .movie-details-info {
      z-index: 7;
      color: var(--full-white);
      width: 100%;
      flex: 0 0 75%;
    }
  }
}
