.modal {

  & .modal-backdrop {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 101;
    height: 100%;
    width: 100%;
    overflow: scroll;
    background-color: var(--dark-black);
  }

& .modal-dialog {
    position: relative;
    margin: 30px auto;

    & .modal-content {
        padding: 0.7rem;
        background-color: white;
        z-index: 102;

        & .modal-header {
            font-weight: bold;
            padding: 0.6rem 1rem;
            border-bottom: 1px solid var(--light-black);
        }

        & .modal-body {
            position: relative;
            margin: 1rem;
        }

        & .modal-actions {
            padding: 0.6rem 1rem;
            border-top: 1px solid var(--light-black);
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            & > .button {
                width: 50%;
            }
        }
    }
  }
}
