.select {
  & .select-container {
    display: flex;
    flex-direction: row;

    & .select-element {
      flex: 1;
      background-color: var(--full-white);
      padding: 0.5rem;
      margin: 0.5rem 0;
      height: var(--input-height);
      border: none;
      border-bottom-style: solid;
      border-bottom-width: 0.15rem;
      border-bottom-color: var(--primary-color-1);
      outline: none;

      & .select-item-placeholder {
        color: var(--light-black);
      }

      .select-item {

      }

      &:disabled {
        background-color: var(--grey-300);
        color: var(--grey-500);
        border-bottom-color: var(--grey-800);
      }
    }
  }

  & .select-error {
    font-size: 0.8rem;
    color: var(--error-color);
  }
}
