{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
    }
  },
  "rules": {
    "react/prefer-stateless-function": 0,
    "no-return-assign": 0,
    "import/no-unresolved": [
      2, {
        "ignore": ["style", "^components/"]
      }
    ]
  }
}
